<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>SpringBoot整合Shiro</title>
</head>
<body class="signin">
    <div>
        <form id="signupForm" autocomplete="off">
            <h4 class="no-margin">登录：</h4>
            <input type="text" name="username" class="form-control uname" placeholder="用户名">
            <input type="password" name="password" class="form-control pword" placeholder="密码">
            <button id="btnSubmit" data-loading="正在登录,请稍等...">登录</button>
        </form>
    </div>
</body>
</html>