<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlhj.shiro.mapper.SysMenuMapper">


    <select id="selectMenusByUserId" resultType="com.xlhj.shiro.entity.SysMenu">
        select distinct sm.id, sm.parent_id, sm.menu_name, sm.url, sm.visible, ifnull(sm.perms, '') as perms, sm.menu_type, sm.icon, sm.order_num, sm.create_time from sys_menu sm
        left join sys_role_menu srm on sm.id = srm.menu_id
        left join sys_user_role sur on srm.role_id = sur.role_id
        left join sys_role sr on sur.role_id = sr.id
        where sm.menu_type in (10, 20) and sm.visible = 10 and sr.status = 10 and sur.user_id = #{userId} order by sm.parent_id, sm.order_num
    </select>
    <select id="selectPermsByUserId" parameterType="long" resultType="java.lang.String">
        select distinct sm.perms from sys_menu sm
        left join sys_role_menu srm on sm.id = srm.menu_id
        left join sys_user_role sur on srm.role_id = sur.role_id
        left join sys_role sr on sr.id = sur.role_id
        where sm.visible = 10 and sr.status = 10 and sur.user_id = #{userId}
    </select>
</mapper>
